<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokeapi | <%= title %></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <div class="container p-2 text-center mt-4">
        <div class="col-12 text-center">

            <div class="card border-dark">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%= imagen %>" width="200" alt="50">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title text-capitalize">
                                <%= title %>
                            </h1>
                            <h4>
                               ID: <%= id %>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>